{{ if .is_work -}}
[".work-external"]
  type = "git-repo"
  url = "git@github.com:jdaftari-confluent/dotfiles-work.git"
  refreshPeriod = "168h"
  [".work-external".pull]
    args = ["--rebase"]
{{ end -}}
