[credential]
        helper = osxkeychain
[color]
        ui = true
[core]
        editor = $(brew --prefix)/bin/nvim
        excludesfile = ~/.gitignore
        ignorecase = false
{{- if .is_work }}
	    hooksPath = /usr/local/gitconfig/hooks/
{{- end }}
	pager = delta
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[fetch]
        prune = true
        recurseSubmodules = true
[include]
        path = .gitlocal
[interactive]
        diffFilter = delta --color-only --features=interactive
[merge]
        tool = vimdiff
	conflictStyle = zdiff3
[mergetool]
        prompt = true
[mergetool "vimdiff"]
        cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[pull]
        rebase = true
[push]
        default = simple
[rebase]
        instructionFormat = %s%nexec GIT_COMMITTER_DATE=\"%cI\" GIT_COMMITTER_NAME=\"%cN\" GIT_COMMITTER_EMAIL=\"%cE\" git commit --amend --no-edit%n
[rerere]
        enabled = true
[url "git@github.com:"]
        insteadOf = https://github.com/
[user]
        email = {{ .email }}
        name = {{ .name }}
{{- if .is_work }}
[safe]
	directory = /repo
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "https://localhost/ STOP STOP STOP DO NOT PROCEED, ALL PUBLIC PUSH ACCESS IS BLOCKED, see go/github-push-block for details - "]
	pushInsteadOf = git@github.com:
	pushInsteadOf = https://github.com/
[url "git@github.com:confluentinc/"]
	pushInsteadOf = git@github.com:confluentinc/
	pushInsteadOf = https://github.com/confluentinc/
[url "git@github.com:confluent-partners/"]
	pushInsteadOf = git@github.com:confluent-partners/
	pushInsteadOf = https://github.com/confluent-partners/
[url "git@github.com:confluentdev/"]
	pushInsteadOf = git@github.com:confluentdev/
	pushInsteadOf = https://github.com/confluentdev/
[url "git@github.com:confluentfederal/"]
	pushInsteadOf = git@github.com:confluentfederal/
	pushInsteadOf = https://github.com/confluentfederal/
[url "git@github.com:warpstreamlabs/"]
	pushInsteadOf = git@github.com:warpstreamlabs/
	pushInsteadOf = https://github.com/warpstreamlabs/
{{- end }}
[delta]
	navigate = true
        syntax-theme = Solarized (light)
