[credential]
	helper = osxkeychain
[color]
	ui = true
[core]
	editor = $(brew --prefix)/bin/nvim
	excludesfile = ~/.gitignore
	ignorecase = false
{{- if .is_work }}
	hooksPath = /usr/local/gitconfig/hooks
{{- end }}
	pager = delta
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[fetch]
	prune = true
	recurseSubmodules = true
	writeCommitGraph = false
[include]
	path = .gitlocal
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	tool = vimdiff
	conflictStyle = zdiff3
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	instructionFormat = %s%nexec GIT_COMMITTER_DATE=\"%cI\" GIT_COMMITTER_NAME=\"%cN\" GIT_COMMITTER_EMAIL=\"%cE\" git commit --amend --no-edit%n
[rerere]
	enabled = true
[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if .is_work }}
[safe]
	directory = /repo
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
{{- end }}
[delta]
	navigate = true
	syntax-theme = Solarized (light)
{{- if .is_work }}
[url "🛑 AIRLOCK SECURITY BLOCK: Git wrapper not on PATH. Call wrapper directly with /usr/local/libexec/airlock-agent/git, or see go/airlock-error.  "]
	insteadOf ={{ " " }}
[protocol]
	allow = never
{{- end }}
[maintenance]
	auto = false
[gc]
	auto = 0
[init]
	defaultBranch = main
[advice]
	detachedHead = false
